/*
Base Styles
*/
/* apply a natural box layout model to all elements */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
body {
  /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  color: #403e3b;
}
a {
  color: #a4a099;
}
a:active, , a:visited, a:hover {
  color: #403e3b;
}
small {
  font-size: 85%;
}
#main-content {
  clear:both;
  padding-right:1em;
}
#main-content p {
  line-height: 1.3;
  margin-bottom: 1.2em;
  font-size: 14px;
}
  /* Logo */
  .siteinfo img {
    margin: 2em;
  }

/* Menu */
.sidebar-first {
  position:static;
  width: 100%;
}
.sidebar-first nav li {
  float:left;
}
.sidebar-first nav a {
  font-size: 1.7em;
  font-weight: 300;
  text-transform: uppercase;
  color: #a4a099;
  display: block;
  padding: 0 .5em .9em 1.2em;
}
.sidebar-first nav a:active,
.sidebar-first nav a:hover {
  color: #403e3b;
  text-decoration: none;
}
.sidebar-first nav a.active-trail {
  color: #403e3b;
}

/* Facebook Icon */
.block-follow-site {
  margin-top: 10px;

  position: absolute;
  right: 1em;
  top: 10em;
}
a.follow-link {
    height: 34px;
    line-height: 34px;
    margin-left:1em;
}
a.follow-link-facebook {
  background-image: url(../images/facebook.png);
}

/* All rights reserved Block */

.block-block-1 {
  font-size: 12px;
  text-transform: uppercase;
  padding:1em;
  color: #a4a099;
  line-height:1.3;

  display: none;
  visibility: hidden;
}
.block-block-2 {
    padding:2em 0 0 2em;
    color: #a4a099;
  }

/* About us Page */
.ds-2col-fluid {
    margin: 0 0 70px 0;
    overflow: hidden;
  }
.ds-2col-fluid > .group-left, .ds-2col-fluid > .group-right {
  float:none;
  width: 100%;
  padding-left: 2em;
}
.field-name-field-page-image img {
  float: none;
}

/* Show Page */
.page-shows #main-content > div {
  float:left;
  clear:left;
  margin:0 0 4% 21px;
}
.page-shows .views-field-title-field {
  float: left;
  margin: 3.5% 0 0 0;
}
.views-field-field-show-image img {
  float: left;
}
.page-shows .views-field-body {
  float: left;
  margin-left: 0;
}

/* Press */
.presslist {
  padding-left: 2em;
}
.presslist ul li {
  float:left;
  margin:0 0 40px 0;
}
.presslist ul li:nth-child(odd) {
  margin-right:40px;
}
.presslist ul li:last-child {
  margin-bottom:70px;
}
.views-field-field-press-image img {
  border: 1px solid #ececec;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* Hide Text Format Help on editor */
.filter-help { display: none; }

@media screen and (min-width: 550px) {
  /* Menu */
  .sidebar-first {
    position: absolute;
    top: 280px;
    bottom:70px;
    width: 190px;
    max-height: 550px;
    min-height:300px;
    margin: 0 0 0 31px;
    border-left: 1px solid #a3a197;
  }
  .sidebar-first nav {
    padding-top:96px;
  }
  .sidebar-first nav li {
    float:none;
  }
  .sidebar-first nav a {
    padding: 0 .5em .4em 5px;
  }
  /* Content */
  #main-content {
    margin: 20px 30px 0 255px;
    padding-right: 0;
  }
  .front #main-content {
    margin-top: -150px;
  }
  .field-name-field-frontpage-image img {
    margin-left:8px;
  }
  .page-shows #main-content {
    margin-top:25px;
  }
  .page-press #main-content {
    margin-top:25px;
  }

  a.follow-link {
    margin-left:5px;
  }
  .page-shows #main-content {
    margin: 0 0 5% 26%;
  }
  /* Disable mobile Rights notice */
  .block-block-2 {
    display:none;
  }
  .ds-2col-fluid > .group-left,
  .ds-2col-fluid > .group-right {
    padding-left: 0;
}
/* Show Page */
  .page-shows #main-content > div {
    margin:0 0 4% 51px;
    width: 450px;
  }
  .page-shows .views-field-title-field {
    margin: 20px 0 0 10%;
    font-size:14px;
  }
  .page-shows .views-field-body {
    margin-left: 10%;
  }
}
@media screen and (min-width: 600px) and (min-height: 768px) {
  /* Menu */
  .sidebar-first {
    border-left: 1px solid #a3a197;
  }
  /* Facebook Icon */
  .block-follow-site {
    position: static;
  }
  .block-block-1 {
    display: block;
    visibility: visible;
    position: absolute;
    bottom: 5px;
    left:5px;
    padding:0;
  }
}
@media screen and (min-width: 768px) {
  .ds-2col-fluid > .group-left {
    float: left;
    width: 41%;
    margin-right:5%;
    padding-right:3%;
  }
  .ds-2col-fluid > .group-right {
    float: left;
    width: 54%;
    margin-top:3px;
  }
  .field-name-field-page-image img {
    float: right;
  }
  .view-mode-imprint .field-name-body {
    float:left;
  }
  .view-mode-imprint .field-name-field-page-image {
    margin: 100px 50px 0 0;
    float:right;
    width:250px;
  }
}

@media screen and (min-width: 1000px) {
  /* Menu */
  .sidebar-first {
    position: fixed;
    top: 301px;
    bottom:70px;
    width: 190px;
    max-height: 550px;
    margin: 0 0 0 61px;
    border-left: 1px solid #a3a197;
  }
  .sidebar-first nav {
    padding-top:96px;
  }
  .sidebar-first nav a {
    padding: 0 .5em .4em 5px;
  }
  /* Container */
  .page {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

/* Logo */
  .siteinfo img {
    margin: 44px 0 62px 58px;
    position: fixed;
    z-index:0;
    width: 190px;
    height: 188px;
  }

  /* Content */
  #main-content {
    margin: 296px 70px 0 310px;
    padding: 0;
  }
  .front #main-content {
    margin-top: 112px;
  }
  .field-name-field-frontpage-image img {
    margin-left:8px;
  }
  .page-shows #main-content {
    margin-top:280px;
  }
  .page-press #main-content {
    margin-top:300px;
  }
  .presslist {
    padding: 0;
  }
  .view-mode-imprint .field-name-body {
    float:left;
  }
  .view-mode-imprint .field-name-field-page-image {
    margin: 100px 50px 0 0;
    float:right;
    width:350px;
  }
}
